<div class="container">
  <footer class="footer">
    <small>
      CopyWrite &copy; <a href="https://www.google.com">The Google home page</a>
      by <a href="https://www.google">Google</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",welcome_about_path%></li>
      </ul>
    </nav>
  </footer>
</div>
